.gallery {
  flex: 1;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% auto;
  height: 86%;
  width: 90%;
  opacity: 0.5;
  transition: all 0.2s ease-out;

  .gallery-item-img {
    transition: transform 0.2s ease-out;
    transform: scale(0.86);
  }

  .gallery-item-info {
    transition: opacity 0.2s ease-out;
    opacity: 0;
  }

  &.active {
    opacity: 1;

    .gallery-item-img {
      transform: scale(1);
    }

    .gallery-item-info {
      opacity: 1;
    }
  }
}

.gallery-item-img {
  flex: 1;
  border-radius: 60rpx;
  width: 100%;
}

.gallery-item-info {
  margin-left: 40rpx;
  text-align: left;
  width: 100%;
  overflow: hidden;
}

.gallery-item-title {
  font-weight: bold;
  font-size: 40rpx;
  margin-top: 40rpx;
  color: #fff;
}

.gallery-item-desc {
  color: #989798;
  line-height: 40rpx;
  font-size: 26rpx;
}
