// Color palette
$lightgray: #5e5e5e;
$white: #ffffff;
$weixin-green: #5d923e;

$login-bg: #191919;
$black-bg: #121213;
$tab-bg: #010001;
$tab-text-color: #4f4e4f;

$desc-color: #989798;
$border-color: #444;
