//==  visible
.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.auto-overflow {
  overflow: auto;
}

// flex
.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-start {
  justify-content: flex-start !important;
}

.v-flex-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.center-flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inline-flex-box {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.v-align {
  display: flex;
  align-items: center;
}

.inline-v-align {
  display: inline-flex;
  align-items: center;
}

.align-middle {
  vertical-align: middle;
}

.flex-1 {
  flex: 1;
}

.self-start {
  align-self: start;
}

.self-end {
  align-self: end;
}

// font size
.fz12 {
  font-size: 12px;
}

.fz16 {
  font-size: 16px;
}

.fz20 {
  font-size: 20px;
}

.fz24 {
  font-size: 24px;
}

.fz30 {
  font-size: 30px;
}

.fz36 {
  font-size: 36px;
}

.fz42 {
  font-size: 42px;
}

.fz48 {
  font-size: 48px;
}

// font weight
.bold {
  font-weight: bold;
}

.bold-500 {
  font-weight: 500;
}

.bold-400 {
  font-weight: 400;
}

// space
@mixin space($list...) {
  @each $num in $list {
    .pl#{$num} {
      padding-left: #{$num}px !important;
    }

    .pr#{$num} {
      padding-right: #{$num}px !important;
    }

    .pt#{$num} {
      padding-top: #{$num}px !important;
    }

    .pb#{$num} {
      padding-bottom: #{$num}px !important;
    }

    .px#{$num} {
      padding-right: #{$num}px !important;
      padding-left: #{$num}px !important;
    }

    .py#{$num} {
      padding-top: #{$num}px !important;
      padding-bottom: #{$num}px !important;
    }

    .pa#{$num} {
      padding: #{$num}px !important;
    }

    .ml#{$num} {
      margin-left: #{$num}px !important;
    }

    .mr#{$num} {
      margin-right: #{$num}px !important;
    }

    .mt#{$num} {
      margin-top: #{$num}px !important;
    }

    .mb#{$num} {
      margin-bottom: #{$num}px !important;
    }

    .mx#{$num} {
      margin-right: #{$num}px !important;
      margin-left: #{$num}px !important;
    }

    .my#{$num} {
      margin-top: #{$num}px !important;
      margin-bottom: #{$num}px !important;
    }

    .ma#{$num} {
      margin: #{$num}px !important;
    }
  }
}

@include space(8, 16, 24, 32, 40, 48);
