.container {
  display: flex;
  min-height: 100vh;
  position: relative;
  background-color: $black-bg;
}

.main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 220rpx;
}

.tab-bar {
  position: fixed;
  bottom: 0;
  height: 160rpx;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $tab-bg;
  padding-bottom: 20rpx;
  border-radius: 70rpx 70rpx 0 0;

  .iconfont {
    font-size: 32rpx;
  }

  .tab-bar-item {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    border-radius: $radius-lg;
    padding: 10rpx 50rpx;
    font-size: 30rpx;
    color: $tab-text-color;
  }

  .active {
    background-color: $white;
    color: $black-bg;
  }

  .iconfont {
    font-size: 44px;
  }
}
