.login {
  text-align: center;
}

.login-tip {
  color: $white;
  margin-top: 16rpx;
}

.login-button {
  display: flex;
  align-items: center;
  padding: 8rpx 80rpx;
  font-weight: 300;
  margin-top: 30rpx;
  margin-bottom: 30rpx;
  background-color: $weixin-green;
  color: $white;
  border-radius: 200rpx;

  .iconfont {
    font-size: 48rpx;
    margin-right: 16rpx;
  }
}

.login-agreement {
  margin-top: 20rpx;
  margin-bottom: 20rpx;
  color: $desc-color;
  opacity: 0.5;
  font-size: 20rpx;
}
